@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .dashboard-theme {
    @apply min-h-screen p-8;
    background: transparent; 
  }
  .dashboard-header {
    background: linear-gradient(135deg, #f0edf2 0%, #cdb9ef 50%, #e5d8e4 100%) fixed;
}
 .pink-bg {
    @apply bg-gradient-to-br from-purple-100 via-pink-50 to-pink-100;
  }

  .login{
    background: linear-gradient(135deg, #9a41d6 0%, #eda6d2 50%, #e5d8e4 100%) fixed;
  }
}

html,
body {
  min-height: 100vh;
  background: linear-gradient(135deg, #dbbeef 0%, #f2cee4 50%, #e5d8e4 100%) fixed;
  background-size: cover;
}

.dashboardcards{
  @apply gap-6 grid grid-cols-1
}